
      <div class="inner cover">
        <h1 class="cover-heading">Wecome to my site.</h1>
        <p class="lead">Im a newer developer, looking for work. I'll be happy to take a job or internship that works with a school schedulel. I will also do freelance webiste or design work.</p>
        <p class="lead">
          <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
        </p>
      </div>