<h1>Contact</h1>
<%= link_to 'Home', '/'%><%= link_to 'Contact', '/contact'%>
<h3>Art and game by Nichols C Taylor</h3>
<ul>
  <li>Phone: <a color="red">2343624623</a> </li>
  <li>Email: a.nichols.taylor@gmail.com</li>
</ul>