<div style="background-color: #a0000c;">
    <h1>FR</h1>
    <%= link_to 'Home', '/'%><%= link_to 'Contact', '/contact'%>
</div>
<p style="color: grey">this is a freerunning game made by and drawn by nichosl</p>
<img/>

